In [17]:
import pandas as pd
import sqlite3
import os
import pandas as pd

In [18]:
# Load csv file into pandas dataframe
df = pd.read_csv('../data/processed/activity_types.csv')
df

  Activity Type ID      Activity Type
0            AT001  Treadmill Running
1            AT002            Running
2            AT003      Indoor Rowing
3            AT004      Pool Swimming
4            AT005             Cardio
5            AT006         Elliptical
6            AT007              Other
7            AT008            Walking
8            AT009     Indoor Cycling
9            AT010            Cycling

In [19]:
# Creating SQLite database
conn = sqlite3.connect('test.sqlite')
cursor = conn.cursor()

In [20]:
# Table Definition
create_table = '''CREATE TABLE IF NOT EXISTS activitytypes(
                activitytypeid Text PRIMARY KEY,
                activitytype Text NOT NULL);
                '''

# Creating the table into our database
cursor.execute(create_table)

In [21]:
# insert the data from the DataFrame into the SQLite table
df.to_sql('activitytypes', conn, if_exists='replace', index = False)

# Printing pandas dataframe
pd.read_sql('''SELECT * FROM activitytypes''', conn)

  Activity Type ID      Activity Type
0            AT001  Treadmill Running
1            AT002            Running
2            AT003      Indoor Rowing
3            AT004      Pool Swimming
4            AT005             Cardio
5            AT006         Elliptical
6            AT007              Other
7            AT008            Walking
8            AT009     Indoor Cycling
9            AT010            Cycling

In [22]:
conn.commit()
conn.close()

In [23]:
# Import the dependencies.
from pathlib import Path
import sqlite3
from sqlalchemy import create_engine, text
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import desc

from flask import Flask, jsonify

import pandas as pd

In [28]:
# Create a reference to the file. 
database_path = Path("database.sqlite")

engine = create_engine("sqlite:///database.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [29]:
activity_types = Base.classes.activitytypes

AttributeError: activitytypes