In [12]:
# Import the dependencies.
from pathlib import Path
import sqlite3
from sqlalchemy import create_engine, text
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import desc

from flask import Flask, jsonify

import pandas as pd



# Create a reference to the file. 
database_path = Path("database.sqlite")

In [13]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}", echo=True)

In [18]:
# Query All Records in the the Database
query = text("SELECT * FROM activity_types")
data = engine.execute(query)

for record in data:
    print(record)

2024-02-07 19:44:09,623 INFO sqlalchemy.engine.Engine SELECT * FROM activity_types
2024-02-07 19:44:09,626 INFO sqlalchemy.engine.Engine [generated in 0.00334s] ()
('AT001', 'Treadmill Running')
('AT002', 'Running')
('AT003', 'Indoor Rowing')
('AT004', 'Pool Swimming')
('AT005', 'Cardio')

In [16]:
q2 = text("SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master")
data2 = engine.execute(q2)
for r in data2:
    print(r)

2024-02-07 19:43:43,917 INFO sqlalchemy.engine.Engine SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master
2024-02-07 19:43:43,920 INFO sqlalchemy.engine.Engine [generated in 0.00330s] ()
('table', 'ActivityTypes', 'ActivityTypes', 2, 'CREATE TABLE "ActivityTypes" (\n"Activity Type ID" TEXT,\n  "Activity Type" TEXT\n)')
('table', 'activity_types', 'activity_types', 3, 'CREATE TABLE "activity_types" (\n"Activity Type ID" TEXT,\n  "Activity Type" TEXT\n)')

In [15]:
Base = automap_base()
Base.prepare(autoload_with=engine)
Base.classes.keys()

2024-02-07 19:42:56,533 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2024-02-07 19:42:56,539 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,544 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ActivityTypes")
2024-02-07 19:42:56,545 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,548 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-02-07 19:42:56,550 INFO sqlalchemy.engine.Engine [raw sql] ('ActivityTypes',)
2024-02-07 19:42:56,555 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ActivityTypes")
2024-02-07 19:42:56,557 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,561 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ActivityTypes")
2024-02-07 19:42:56,564 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,567 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-02-07 19:42:56,569 INFO sqlalchemy.engine.Engine [raw sql] ('ActivityTypes',)
2024-02-07 19:42:56,574 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ActivityTypes")
2024-02-07 19:42:56,576 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,579 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ActivityTypes")
2024-02-07 19:42:56,579 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,581 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ActivityTypes")
2024-02-07 19:42:56,582 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,583 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ActivityTypes")
2024-02-07 19:42:56,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,584 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-02-07 19:42:56,585 INFO sqlalchemy.engine.Engine [raw sql] ('ActivityTypes',)
2024-02-07 19:42:56,588 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("activity_types")
2024-02-07 19:42:56,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,595 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-02-07 19:42:56,597 INFO sqlalchemy.engine.Engine [raw sql] ('activity_types',)
2024-02-07 19:42:56,599 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("activity_types")
2024-02-07 19:42:56,599 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,601 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("activity_types")
2024-02-07 19:42:56,602 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,605 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-02-07 19:42:56,605 INFO sqlalchemy.engine.Engine [raw sql] ('activity_types',)
2024-02-07 19:42:56,607 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("activity_types")
2024-02-07 19:42:56,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,611 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("activity_types")
2024-02-07 19:42:56,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,614 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("activity_types")
2024-02-07 19:42:56,615 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,616 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("activity_types")
2024-02-07 19:42:56,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-07 19:42:56,618 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-02-07 19:42:56,621 INFO sqlalchemy.engine.Engine [raw sql] ('activity_types',)

[]

In [3]:
# Load csv file into pandas dataframe
df = pd.read_csv('../data/processed/activity_types.csv')
df=df.head()

In [6]:
# Creating SQLite database
conn = sqlite3.connect('database.sqlite')
cursor = conn.cursor()

In [7]:
# Table Definition
create_table = '''CREATE TABLE activity_types(
                ActivityTypeID Text PRIMARY KEY,
                ActivityType Text NOT NULL);
                '''

# Creating the table into our database
cursor.execute(create_table)

In [9]:
# insert the data from the DataFrame into the SQLite table
df.to_sql('activity_types', conn, if_exists='replace', index = False)

5

In [10]:
# commit the changes and close the connection
conn.commit()

In [11]:
conn.close()