In [16]:
import pandas as pd
import sqlite3
import os
import pandas as pd

In [17]:
# Load csv file into pandas dataframe
df = pd.read_csv('../data/processed/activity_types.csv')
df

  Activity Type ID      Activity Type
0            AT001  Treadmill Running
1            AT002            Running
2            AT003      Indoor Rowing
3            AT004      Pool Swimming
4            AT005             Cardio
5            AT006         Elliptical
6            AT007              Other
7            AT008            Walking
8            AT009     Indoor Cycling
9            AT010            Cycling

In [19]:
# Creating SQLite database
conn = sqlite3.connect('database')
cursor = conn.cursor()

In [21]:
# Table Definition
create_table = '''CREATE TABLE IF NOT EXISTS ActivityTypes(
                ActivityTypeID Text PRIMARY KEY,
                ActivityType Text NOT NULL);
                '''

# Creating the table into our database
cursor.execute(create_table)

In [22]:
# insert the data from the DataFrame into the SQLite table
df.to_sql('ActivityTypes', conn, if_exists='replace', index = False)

# Printing pandas dataframe
pd.read_sql('''SELECT * FROM ActivityTypes''', conn)

  Activity Type ID      Activity Type
0            AT001  Treadmill Running
1            AT002            Running
2            AT003      Indoor Rowing
3            AT004      Pool Swimming
4            AT005             Cardio
5            AT006         Elliptical
6            AT007              Other
7            AT008            Walking
8            AT009     Indoor Cycling
9            AT010            Cycling

In [23]:
# commit the changes and close the connection
conn.commit()

In [25]:
# close the connection
conn.close()